/* ===================================================================
 *  03. grid & general theme styles
 * 1180 CSS Grid System - Fluid by Chris Blackwell / chrisblackwell.me
 * ------------------------------------------------------------------- */
.wrap {
    width: 92%;
    margin: 0 auto;
}

.row {
    margin: 0 auto;
    padding: 0 24px;
}

/* Sets default values on all columns */

[class*="gridlayout"] {
    margin-right: 2%;
    float: left;
    box-sizing: border-box;
}
[class*="gridlayout"]:last-child {
    margin-right: 0;
}
.gridlayout1 {
    width: 6.5%;
}
.gridlayout2 {
    width: 15%;
}
.gridlayout3 {
    width: 23.5%;
}
.gridlayout4 {
    width: 32%;
}
.gridlayout5 {
    width: 40.5%;
}
.gridlayout6 {
    width: 49%;
}
.gridlayout7 {
    width: 57.5%;
}
.gridlayout8 {
    width: 66%;
}
.gridlayout9 {
    width: 74.5%;
}
.gridlayout10 {
    width: 83%;
}
.gridlayout11 {
    width: 91.5%;
}

/* no space */

.grid-full [class*="grid"] {
    float: left;
    box-sizing: border-box;
}
.grid1 {
    width: 8.33333333%;
}
.grid2 {
    width: 16.6666667%;
}
.grid3 {
    width: 25%;
}
.grid4, .side-content {
    width: 33.3333333%
}
.grid5 {
    width: 41.6666667%
}
.grid6, .main-content {
    width: 50%
}
.grid7 {
    width: 58.333333%
}
.grid8 {
    width: 66.6666667%
}
.grid9 {
    width: 75%
}
.grid10 {
    width: 83.333333%
}
.grid11 {
    width: 91.6666667%
}

// Visibility

.is-hidden {
    display: none !important
}

.is-invisible {
    visibility: hidden !important
}

// float

.is-pulled-left {
    float: left !important
}

.is-pulled-right {
    float: right !important
}
.clear {
    clear: both;
}
.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

.is-flexbox {
    display: flex;
}

@media (min-width: 320px) and (max-width: 736px) {
    .is-flexbox {
        display: block;
    }
    [class*="gridlayout"], [class*="grid"] {
        margin-right: 0!important;
        float: none!important;
        width: 100%!important;
        box-sizing: border-box;
    }
}

// common
* {
    box-sizing: border-box;
}